
<tr>
  <td style="width:12%" >
    <%= ei['clics_committee_id']%>
  </td>
  <td class="cell-break" style="width:14%" >
    <%= hearing_name(ei)%>
  </td>
  <td class="cell-break" style="width:14%" >
    <%= hearing_item_name(ei) %>
  </td>
  <td style="width:8%" >
    <%= ei['sort_error']%>
  </td>
  <td class="cell-break" style="width:10%" >
    <%= sub_dot(ei['clics_key']) %>
  </td>
  <td class="cell-break" style="width:14%" >
    <%= str_or_null_for_clics_value(ei['clics_value']) %>
  </td>
  <td class="cell-break" style="width:10%" >
    <%= sub_underscore(ei['target_css']) %>
  </td>
  <td class="cell-break" style="width:14%" >
    <%= str_or_nil(ei['target_value'])%>
  </td>
</tr>
