
// Import Bootstrap v5
@import "bootstrap/scss/bootstrap";
// Import custom styles
@import "custom";

@import 'style.scss';

// @font-face {
//   font-family: "Ubuntu Condensed";
//   src: url("../fonts/ubuntu-c.ttf") format("truetype");
// }
@font-face {
  font-family: "Ubuntu regular";
  src: url("../fonts/ubuntu-r.ttf") format("truetype");
}
