<div class="border border-info" id='multi-selection-section'>
  <div class="mx-3 my-2">
    <h4>View By Filtered Results <small style="font-size:0.5em">* Use Shift or Ctrl to select multiple values. Results are a 'union' of any matches per dropdown</small>
    </h4>


    <div
    data-controller="dropdown"
    data-dropdown-comIdList="<%= @committee_ids %>"
    data-dropdown-comIdSelected="<%= selected_ids_with_comm_name(@f_params)%>"
    class=""
    >
      <%= form_with url: report_filtered_path(@report), local: true, method: :get do |f| %>

        <div class="card-group row">

          <div class="col-md">
            <div class="card border-none">
              <div class="card-block">
                <div class="font-0dot75em ">
                  <strong>Early Errors</strong>
                </div>
                <div class="form-group font-0dot75em mb-1">
                  <%= f.select('early_sort_errors', @early_sort_errors, {selected: selected_or_none(@f_params,'early_sort_errors')},  {multiple: true, style: 'width: 100%'}) %>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-md">
            <div class="card border-none ">
              <div class="card-block">
                <div class="font-0dot75em">
                  <strong>Comparison Errors</strong>
                </div>
                <div class="form-group font-0dot75em mb-1">
                  <%= f.select('comparison_sort_errors',
                              @comparison_sort_errors,
                              {selected: selected_or_none(@f_params,'comparison_sort_errors')},
                              {multiple: true, style: 'width: 100%'}
                              ) %>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-md">
            <div class="card border-none ">
              <div class="card-block">
                <div class="font-0dot75em">
                  <strong>Sessions</strong>
                </div>
                <div class="form-group font-0dot75em mb-1">
                  <%= f.select('sessions',
                              @sessions,
                              {selected:  selected_or_current(@f_params, 'sessions', @current_session)},
                              {
                                multiple: true,
                                style: 'width: 100%',
                                data: { 'dropdown-target': "sessionsIds", 'action' => "click->dropdown#updateCommIdList" }
                              }) %>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-md">
            <div class="card border-none ">
              <div class="card-block">
                <div class="font-0dot75em">
                  <strong>Committee Type</strong>
                </div>
                <div class="form-group font-0dot75em mb-1">
                  <%= f.select('committee_origins',
                                @committee_origins,
                                {selected: selected_or_nil(@f_params, 'committee_origins')},
                                {
                                  multiple: true,
                                  style: 'width: 100%',
                                  data: { 'dropdown-target': "originIds", 'action' => "click->dropdown#updateCommIdList" }
                                }) %>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-md">
            <div class="card border-none ">
              <div class="card-block">
                <div class="font-0dot75em">
                  <strong>Committee ID</strong>
                </div>
                <div class="form-group font-0dot75em mb-1">
                  <%= f.select('committee_ids',
                              @committee_ids,
                              {selected: selected_or_nil(@f_params, 'committee_ids')},
                              {
                                multiple: true,
                                style: 'width: 100%',
                                data: { 'dropdown-target': "commIds" }
                              }) %>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group font-0dot75em pt-0">
          <%= f.submit "Filter", class:"button btn btn-info btn-sm px-1 py-0 m-0"%>
        <% end %>
        <%= link_to "Reset", report_path(@report),class:"button btn btn-secondary btn-sm px-1 py-0 m-0" %>
        </div>
      </div>
    </div>
  </div>