<div class='m-1 pt-2'>
    <%= render 'report_date_and_downloads'%>
</div>

<div class='m-1 pt-2'>
  <%= render 'reports/filter_by_days'%>
</div>

<div class='m-1 pt-2'>
  <%= render 'reports/filter_dropdowns'%>
</div>


<hr class="thick-dark-grey"></hr>
<h4>Results</h4>
<div class='m-1'>
  <%= render 'stats_outer'%>
</div>
