<div class="" id="stats-outer-section">

  <div class="">
    <h4>Stats  <small style="font-size:0.5em"> { Current filters: <%= @humanized_filters%> } </small>
    </h4>
  </div>

  <%= turbo_frame_tag("stats-section", src: report_stats_path(report_id: @report.id, f_params: @f_params)) do %>
    <div class="m-2 p-2">
      Loading...
    </div>
    <%= render 'components/spinner' %>
  <%end %>
</div>