<%= turbo_frame_tag("filtered-early-errors") do %>

  <% if @filtered_early_errors.present?%>
    <div class='m-1 pt-4'>
      <h4>Early Errors (we hit a snag and couldn't test the Webpages)</h4>
      <table class="table table-bordered font-0dot75em">
        <thead class="">
          <tr>
            <th style="width: 20%">Sortable Error</th>
            <th style="width: 80%">Error Explanation</th>
          </tr>
        </thead>
        <tbody class="cell-break">
          <% @filtered_early_errors.each do |ee|%>
            <tr id=<%="ee-id-#{ee.id}"%>>
              <td> <%= ee.sort_error%></td>
              <td>
                <% truncated_msg(ee.description).each do |row| %>
                <div> <%= row %> </div>
                <%end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <%end%>
<%end%>